USE [master]
GO
/****** Object:  Database [RoboCop]    Script Date: 2022. 05. 03. 22:11:52 ******/
CREATE DATABASE [RoboCop]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'RoboCop', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\RoboCop.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'RoboCop_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\RoboCop_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [RoboCop].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [RoboCop]
GO
/****** Object:  UserDefinedFunction [dbo].[Authorized]    Script Date: 2022. 05. 03. 22:11:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[Authorized](
	@chiper nvarchar(200)
)
RETURNS bit
AS
BEGIN
	RETURN
        CASE 
            WHEN (SELECT UID FROM Users WHERE UCIPHER = @chiper) IS NULL THEN 1 -- not authorized
            ELSE 0 -- authorized
		END
END
GO
/****** Object:  UserDefinedFunction [dbo].[GetUserIdByCipher]    Script Date: 2022. 05. 03. 22:11:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[GetUserIdByCipher](
	@chiper nvarchar(200)
)
RETURNS int
AS
BEGIN
	RETURN (SELECT UID FROM Users WHERE UCIPHER = @chiper)
END
GO
/****** Object:  UserDefinedFunction [dbo].[GetUserRoleIdByCipher]    Script Date: 2022. 05. 03. 22:11:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[GetUserRoleIdByCipher](
	@chiper nvarchar(200)
)
RETURNS int
AS
BEGIN
	RETURN (SELECT RID FROM SchoolsAndRoles WHERE UID = dbo.GetUserIdByCipher(@chiper))
END
GO
/****** Object:  UserDefinedFunction [dbo].[GetUserSchoolIdByCipher]    Script Date: 2022. 05. 03. 22:11:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[GetUserSchoolIdByCipher](
	@chiper nvarchar(200)
)
RETURNS int
AS
BEGIN
	RETURN (SELECT SID FROM SchoolsAndRoles WHERE UID = dbo.GetUserIdByCipher(@chiper))
END
GO
/****** Object:  UserDefinedFunction [dbo].[LoggedIn]    Script Date: 2022. 05. 03. 22:11:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[LoggedIn](
	@email nvarchar(200),
	@code nvarchar(max)
)
RETURNS bit
AS
BEGIN
	RETURN
        CASE 
            WHEN (SELECT UID FROM Users WHERE UEMAIL = @email AND UCODE = @code) IS NULL THEN 1 -- email/code didn't match
            ELSE 0 -- success
		END
END
GO
/****** Object:  Table [dbo].[Users]    Script Date: 2022. 05. 03. 22:11:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UID] [int] IDENTITY(1,1) NOT NULL,
	[UEMAIL] [nvarchar](200) NOT NULL,
	[UCODE] [nvarchar](max) NOT NULL,
	[UCIPHER] [nvarchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[UID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UsersRolesMapping]    Script Date: 2022. 05. 03. 22:11:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UsersRolesMapping](
	[URID] [int] IDENTITY(1,1) NOT NULL,
	[UID] [int] NOT NULL,
	[RID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[URID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UsersSchoolsMapping]    Script Date: 2022. 05. 03. 22:11:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UsersSchoolsMapping](
	[USID] [int] IDENTITY(1,1) NOT NULL,
	[UID] [int] NOT NULL,
	[SID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[USID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[SchoolsAndRoles]    Script Date: 2022. 05. 03. 22:11:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[SchoolsAndRoles]
AS
	SELECT
		 u.UID
		,s.SID
		,r.RID
	FROM
		Users u
		LEFT JOIN UsersSchoolsMapping s ON u.UID = s.UID
		LEFT JOIN UsersRolesMapping r ON u.UID = r.UID
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 2022. 05. 03. 22:11:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[RID] [int] IDENTITY(1,1) NOT NULL,
	[RNAME] [nvarchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[RID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Schools]    Script Date: 2022. 05. 03. 22:11:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Schools](
	[SID] [int] IDENTITY(1,1) NOT NULL,
	[SNAME] [nvarchar](200) NOT NULL,
	[SLOGOPATH] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[SID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  UserDefinedFunction [dbo].[UsersBaseData]    Script Date: 2022. 05. 03. 22:11:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE FUNCTION [dbo].[UsersBaseData](
	@chiper nvarchar(200)
)
RETURNS TABLE
AS
RETURN
	SELECT
		 u.UEMAIL 'Email'
		,r.RNAME 'Role'
		,s.SNAME 'School'
	FROM
		SchoolsAndRoles sr
		LEFT JOIN Users u ON sr.UID = u.UID
		LEFT JOIN Schools s ON sr.SID = s.SID
		LEFT JOIN Roles r ON sr.RID = r.RID
	WHERE
		u.UID = [dbo].[GetUserIdByCipher](@chiper)
GO
/****** Object:  Table [dbo].[Menu]    Script Date: 2022. 05. 03. 22:11:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Menu](
	[MID] [int] IDENTITY(1,1) NOT NULL,
	[MTEXT] [nvarchar](20) NOT NULL,
	[MPATH] [nvarchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MenuRolesMapping]    Script Date: 2022. 05. 03. 22:11:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MenuRolesMapping](
	[MRID] [int] IDENTITY(1,1) NOT NULL,
	[MID] [int] NOT NULL,
	[RID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MRID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  UserDefinedFunction [dbo].[UsersMenus]    Script Date: 2022. 05. 03. 22:11:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE FUNCTION [dbo].[UsersMenus](
	@chiper nvarchar(200)
)
RETURNS TABLE
AS
RETURN
	SELECT
		  m.MTEXT
		 ,m.MPATH
	FROM
		MenuRolesMapping mrp
		LEFT JOIN Menu m ON mrp.MID = m.MID
		LEFT JOIN Roles r ON mrp.RID = r.RID
	WHERE
		r.RID = [dbo].[GetUserRoleIdByCipher](@chiper)
GO
/****** Object:  Table [dbo].[Varosok]    Script Date: 2022. 05. 03. 22:11:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Varosok](
	[VID] [int] IDENTITY(1,1) NOT NULL,
	[MID] [int] NOT NULL,
	[VNAME] [nvarchar](max) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[VID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Szemelyek]    Script Date: 2022. 05. 03. 22:11:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Szemelyek](
	[SZID] [int] IDENTITY(1,1) NOT NULL,
	[SZBEJ] [bit] NOT NULL,
	[SZELK] [bit] NOT NULL,
	[SZNEV] [nvarchar](max) NOT NULL,
	[SZSZULHELY] [int] NULL,
	[SZSZULIDO] [date] NULL,
	[SZAN] [nvarchar](max) NULL,
	[SZIRSZ] [int] NULL,
	[SZVAROS] [int] NULL,
	[SZKOZNEV] [nvarchar](max) NULL,
	[SZKOZTIP] [int] NULL,
	[SZHSZ] [int] NULL,
	[SZTELEFON] [int] NULL,
	[SZSZIG] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[SZID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Lopasok]    Script Date: 2022. 05. 03. 22:11:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Lopasok](
	[LID] [int] IDENTITY(1,1) NOT NULL,
	[LIKTATO]  AS (CONVERT([nvarchar](6),format([LID],'D6'))+CONVERT([nvarchar](4),datepart(year,getdate()))),
	[LCIM] [nvarchar](max) NOT NULL,
	[LIDO] [datetime] NOT NULL,
	[LIRSZ] [int] NOT NULL,
	[LMID] [int] NOT NULL,
	[LVAROS] [int] NOT NULL,
	[LKOZNEV] [nvarchar](max) NOT NULL,
	[LKOZTIP] [int] NOT NULL,
	[LHSZ] [int] NOT NULL,
	[LESZKOZ] [nvarchar](max) NOT NULL,
	[LTENYALL] [nvarchar](max) NOT NULL,
	[LUID] [int] NULL,
	[LROGZ] [datetime] NULL,
	[LBESZID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[LID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Megyek]    Script Date: 2022. 05. 03. 22:11:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Megyek](
	[MID] [int] IDENTITY(1,1) NOT NULL,
	[MNAME] [nvarchar](max) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KozteruletTipusok]    Script Date: 2022. 05. 03. 22:11:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KozteruletTipusok](
	[KID] [int] IDENTITY(1,1) NOT NULL,
	[KNAME] [nvarchar](max) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[KID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  UserDefinedFunction [dbo].[LopasokView]    Script Date: 2022. 05. 03. 22:11:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[LopasokView](
    @chiper nvarchar(200)
)
RETURNS TABLE
AS
RETURN
    SELECT
         l.LID [LopasId]
        ,l.LIKTATO [Iktatoszam]
        ,l.LCIM [Leiras]
        ,l.LIDO [ElkovetesIdopont]
        ,l.LIRSZ [Iranyitoszam]
        ,m.MNAME [Megye]
        ,v.VNAME [Varos]
        ,l.LKOZNEV [KozteruletNeve]
        ,kt.KNAME [KozteruletTipusa]
        ,l.LHSZ [Hazszam]
        ,l.LESZKOZ [ElkovetesEszkoze]
        ,l.LTENYALL [Tenyallas]
        ,u.UEMAIL [Rogzitette]
        ,l.LROGZ [RogzitesDatuma]
        ,s.SZID [BejelentoSzemelyId]
        ,s.SZNEV [BejelentoNeve]

    FROM Lopasok l
    LEFT JOIN Megyek m on l.LMID = m.MID
    LEFT JOIN Varosok v on l.LVAROS = v.VID
    LEFT JOIN KozteruletTipusok kt on kt.KID = l.LKOZTIP
    LEFT JOIN Users u on u.UID = l.LUID
    LEFT JOIN Szemelyek s on s.SZID = l.LBESZID
    WHERE
        l.LUID = [dbo].[GetUserIdByCipher](@chiper)
GO
/****** Object:  Table [dbo].[Arcok]    Script Date: 2022. 05. 03. 22:11:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Arcok](
	[ARID] [int] IDENTITY(1,1) NOT NULL,
	[ARNAME] [nvarchar](max) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ARID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Elkovetok]    Script Date: 2022. 05. 03. 22:11:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Elkovetok](
	[ELID] [int] IDENTITY(1,1) NOT NULL,
	[ELSZID] [int] NULL,
	[ELLID] [int] NULL,
	[ELMAG] [int] NULL,
	[ELHAJ] [int] NULL,
	[ELSZEM] [int] NULL,
	[ELSULY] [int] NULL,
	[ELTERMET] [int] NULL,
	[ELARC] [int] NULL,
	[ELJAR] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ELID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Hajszinek]    Script Date: 2022. 05. 03. 22:11:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Hajszinek](
	[HAID] [int] IDENTITY(1,1) NOT NULL,
	[HANAME] [nvarchar](max) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[HAID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Jarasok]    Script Date: 2022. 05. 03. 22:11:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Jarasok](
	[JAID] [int] IDENTITY(1,1) NOT NULL,
	[JANAME] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[JAID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Magassagok]    Script Date: 2022. 05. 03. 22:11:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Magassagok](
	[MAID] [int] IDENTITY(1,1) NOT NULL,
	[MAINTERVAL] [nvarchar](max) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MAID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProcedureLog]    Script Date: 2022. 05. 03. 22:11:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProcedureLog](
	[PLID] [int] IDENTITY(1,1) NOT NULL,
	[PLTIMESTAMP] [datetime] NULL,
	[PID] [int] NOT NULL,
	[PLSUCCESSCODE] [int] NOT NULL,
	[PLARGS] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[PLID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Procedures]    Script Date: 2022. 05. 03. 22:11:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Procedures](
	[PID] [int] IDENTITY(1,1) NOT NULL,
	[PNAME] [nvarchar](50) NOT NULL,
	[PISDELETED] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[PID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sulyok]    Script Date: 2022. 05. 03. 22:11:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sulyok](
	[SUID] [int] IDENTITY(1,1) NOT NULL,
	[SUINTERVAL] [nvarchar](max) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[SUID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Szemszinek]    Script Date: 2022. 05. 03. 22:11:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Szemszinek](
	[SZEID] [int] IDENTITY(1,1) NOT NULL,
	[SZENAME] [nvarchar](max) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[SZEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Targyak]    Script Date: 2022. 05. 03. 22:11:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Targyak](
	[TID] [int] IDENTITY(1,1) NOT NULL,
	[LID] [int] NULL,
	[TNAME] [nvarchar](max) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[TID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Termetek]    Script Date: 2022. 05. 03. 22:11:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Termetek](
	[TEID] [int] IDENTITY(1,1) NOT NULL,
	[TENAME] [nvarchar](max) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[TEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Arcok] ON 

INSERT [dbo].[Arcok] ([ARID], [ARNAME]) VALUES (1, N'kerek')
INSERT [dbo].[Arcok] ([ARID], [ARNAME]) VALUES (2, N'ovális')
INSERT [dbo].[Arcok] ([ARID], [ARNAME]) VALUES (3, N'szögletes')
SET IDENTITY_INSERT [dbo].[Arcok] OFF
GO
SET IDENTITY_INSERT [dbo].[Hajszinek] ON 

INSERT [dbo].[Hajszinek] ([HAID], [HANAME]) VALUES (1, N'fekete')
INSERT [dbo].[Hajszinek] ([HAID], [HANAME]) VALUES (2, N'sötét barna')
INSERT [dbo].[Hajszinek] ([HAID], [HANAME]) VALUES (3, N'szőke')
SET IDENTITY_INSERT [dbo].[Hajszinek] OFF
GO
SET IDENTITY_INSERT [dbo].[Jarasok] ON 

INSERT [dbo].[Jarasok] ([JAID], [JANAME]) VALUES (1, N'billegő')
INSERT [dbo].[Jarasok] ([JAID], [JANAME]) VALUES (2, N'mackós')
INSERT [dbo].[Jarasok] ([JAID], [JANAME]) VALUES (3, N'merev')
SET IDENTITY_INSERT [dbo].[Jarasok] OFF
GO
SET IDENTITY_INSERT [dbo].[KozteruletTipusok] ON 

INSERT [dbo].[KozteruletTipusok] ([KID], [KNAME]) VALUES (1, N'árok')
INSERT [dbo].[KozteruletTipusok] ([KID], [KNAME]) VALUES (2, N'átjáró')
INSERT [dbo].[KozteruletTipusok] ([KID], [KNAME]) VALUES (3, N'dűlő')
SET IDENTITY_INSERT [dbo].[KozteruletTipusok] OFF
GO
SET IDENTITY_INSERT [dbo].[Magassagok] ON 

INSERT [dbo].[Magassagok] ([MAID], [MAINTERVAL]) VALUES (1, N'140-145')
INSERT [dbo].[Magassagok] ([MAID], [MAINTERVAL]) VALUES (2, N'150-155')
INSERT [dbo].[Magassagok] ([MAID], [MAINTERVAL]) VALUES (3, N'160-165')
SET IDENTITY_INSERT [dbo].[Magassagok] OFF
GO
SET IDENTITY_INSERT [dbo].[Megyek] ON 

INSERT [dbo].[Megyek] ([MID], [MNAME]) VALUES (1, N'Bács - Kiskun')
INSERT [dbo].[Megyek] ([MID], [MNAME]) VALUES (2, N'Baranya')
INSERT [dbo].[Megyek] ([MID], [MNAME]) VALUES (3, N'Békés')
SET IDENTITY_INSERT [dbo].[Megyek] OFF
GO
SET IDENTITY_INSERT [dbo].[Menu] ON 

INSERT [dbo].[Menu] ([MID], [MTEXT], [MPATH]) VALUES (1, N'Home', N'/welcome')
INSERT [dbo].[Menu] ([MID], [MTEXT], [MPATH]) VALUES (2, N'My Stuff', N'/workplace')
INSERT [dbo].[Menu] ([MID], [MTEXT], [MPATH]) VALUES (3, N'Students', N'/students')
SET IDENTITY_INSERT [dbo].[Menu] OFF
GO
SET IDENTITY_INSERT [dbo].[MenuRolesMapping] ON 

INSERT [dbo].[MenuRolesMapping] ([MRID], [MID], [RID]) VALUES (1, 1, 1)
INSERT [dbo].[MenuRolesMapping] ([MRID], [MID], [RID]) VALUES (2, 1, 2)
INSERT [dbo].[MenuRolesMapping] ([MRID], [MID], [RID]) VALUES (3, 1, 3)
SET IDENTITY_INSERT [dbo].[MenuRolesMapping] OFF
GO
SET IDENTITY_INSERT [dbo].[ProcedureLog] ON 

INSERT [dbo].[ProcedureLog] ([PLID], [PLTIMESTAMP], [PID], [PLSUCCESSCODE], [PLARGS]) VALUES (1, CAST(N'2021-12-17T17:34:41.363' AS DateTime), 2, 0, N'proba@email.cc;peldajelszo')
INSERT [dbo].[ProcedureLog] ([PLID], [PLTIMESTAMP], [PID], [PLSUCCESSCODE], [PLARGS]) VALUES (6, CAST(N'2021-12-17T21:40:22.040' AS DateTime), 2, 0, N'asd@ms.sl;pw1231')
INSERT [dbo].[ProcedureLog] ([PLID], [PLTIMESTAMP], [PID], [PLSUCCESSCODE], [PLARGS]) VALUES (11, CAST(N'2021-12-17T22:03:18.580' AS DateTime), 2, 0, N'00000asd@ms.saal;pw1231')
GO
SET IDENTITY_INSERT [dbo].[ProcedureLog] OFF
GO
SET IDENTITY_INSERT [dbo].[Procedures] ON 

INSERT [dbo].[Procedures] ([PID], [PNAME], [PISDELETED]) VALUES (1, N'LogProcedureCall', 0)
INSERT [dbo].[Procedures] ([PID], [PNAME], [PISDELETED]) VALUES (2, N'RegisterUser', 0)
INSERT [dbo].[Procedures] ([PID], [PNAME], [PISDELETED]) VALUES (3, N'SetUserCipher', 0)
SET IDENTITY_INSERT [dbo].[Procedures] OFF
GO
SET IDENTITY_INSERT [dbo].[Roles] ON 

INSERT [dbo].[Roles] ([RID], [RNAME]) VALUES (3, N'developer')
INSERT [dbo].[Roles] ([RID], [RNAME]) VALUES (1, N'student')
INSERT [dbo].[Roles] ([RID], [RNAME]) VALUES (2, N'teacher')
SET IDENTITY_INSERT [dbo].[Roles] OFF
GO
SET IDENTITY_INSERT [dbo].[Schools] ON 

INSERT [dbo].[Schools] ([SID], [SNAME], [SLOGOPATH]) VALUES (1, N'Verebély', NULL)
SET IDENTITY_INSERT [dbo].[Schools] OFF
GO
SET IDENTITY_INSERT [dbo].[Sulyok] ON 

INSERT [dbo].[Sulyok] ([SUID], [SUINTERVAL]) VALUES (1, N'50-55')
INSERT [dbo].[Sulyok] ([SUID], [SUINTERVAL]) VALUES (2, N'60-65')
INSERT [dbo].[Sulyok] ([SUID], [SUINTERVAL]) VALUES (3, N'70-75')
SET IDENTITY_INSERT [dbo].[Sulyok] OFF
GO
SET IDENTITY_INSERT [dbo].[Szemszinek] ON 

INSERT [dbo].[Szemszinek] ([SZEID], [SZENAME]) VALUES (1, N'kék')
INSERT [dbo].[Szemszinek] ([SZEID], [SZENAME]) VALUES (2, N'zöld')
INSERT [dbo].[Szemszinek] ([SZEID], [SZENAME]) VALUES (3, N'fekete')
SET IDENTITY_INSERT [dbo].[Szemszinek] OFF
GO
SET IDENTITY_INSERT [dbo].[Termetek] ON 

INSERT [dbo].[Termetek] ([TEID], [TENAME]) VALUES (1, N'pocakos')
INSERT [dbo].[Termetek] ([TEID], [TENAME]) VALUES (2, N'kövér')
INSERT [dbo].[Termetek] ([TEID], [TENAME]) VALUES (3, N'vékony')
SET IDENTITY_INSERT [dbo].[Termetek] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([UID], [UEMAIL], [UCODE], [UCIPHER]) VALUES (1, N'proba@email.cc', N'peldajelszo', N'eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJlbWFpbCI6InByb2JhQGVtYWlsLmNjIiwiZXhwIjoxNjQxNjUzMTc3fQ.n62MGGxn7r_YXX0ssDKFAgECjlDv_fNF3hXF6AuRaw8')
INSERT [dbo].[Users] ([UID], [UEMAIL], [UCODE], [UCIPHER]) VALUES (9, N'asd@ms.sl', N'pw1231', NULL)
INSERT [dbo].[Users] ([UID], [UEMAIL], [UCODE], [UCIPHER]) VALUES (14, N'00000asd@ms.saal', N'pw1231', N'')
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
SET IDENTITY_INSERT [dbo].[UsersRolesMapping] ON 

INSERT [dbo].[UsersRolesMapping] ([URID], [UID], [RID]) VALUES (1, 1, 1)
INSERT [dbo].[UsersRolesMapping] ([URID], [UID], [RID]) VALUES (6, 9, 1)
INSERT [dbo].[UsersRolesMapping] ([URID], [UID], [RID]) VALUES (11, 14, 1)
SET IDENTITY_INSERT [dbo].[UsersRolesMapping] OFF
GO
SET IDENTITY_INSERT [dbo].[UsersSchoolsMapping] ON 

INSERT [dbo].[UsersSchoolsMapping] ([USID], [UID], [SID]) VALUES (1, 1, 1)
INSERT [dbo].[UsersSchoolsMapping] ([USID], [UID], [SID]) VALUES (6, 9, 1)
INSERT [dbo].[UsersSchoolsMapping] ([USID], [UID], [SID]) VALUES (11, 14, 1)
SET IDENTITY_INSERT [dbo].[UsersSchoolsMapping] OFF
GO
SET IDENTITY_INSERT [dbo].[Varosok] ON 

INSERT [dbo].[Varosok] ([VID], [MID], [VNAME]) VALUES (1, 6, N'Aba')
INSERT [dbo].[Varosok] ([VID], [MID], [VNAME]) VALUES (2, 10, N'Abádszalók')
INSERT [dbo].[Varosok] ([VID], [MID], [VNAME]) VALUES (3, 2, N'Abaliget')
GO
SET IDENTITY_INSERT [dbo].[Varosok] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Menu__B42984353BC3E454]    Script Date: 2022. 05. 03. 22:11:52 ******/
ALTER TABLE [dbo].[Menu] ADD UNIQUE NONCLUSTERED 
(
	[MTEXT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Procedur__7978DCF9F76241BC]    Script Date: 2022. 05. 03. 22:11:52 ******/
ALTER TABLE [dbo].[Procedures] ADD UNIQUE NONCLUSTERED 
(
	[PNAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Roles__7DC773A2BE64AA42]    Script Date: 2022. 05. 03. 22:11:52 ******/
ALTER TABLE [dbo].[Roles] ADD UNIQUE NONCLUSTERED 
(
	[RNAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Schools__BC5B1B8C68CC9FD5]    Script Date: 2022. 05. 03. 22:11:52 ******/
ALTER TABLE [dbo].[Schools] ADD UNIQUE NONCLUSTERED 
(
	[SNAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Users__CF8E437FBDCD11E1]    Script Date: 2022. 05. 03. 22:11:52 ******/
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[UEMAIL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Lopasok] ADD  DEFAULT (getdate()) FOR [LROGZ]
GO
ALTER TABLE [dbo].[ProcedureLog] ADD  DEFAULT (getdate()) FOR [PLTIMESTAMP]
GO
ALTER TABLE [dbo].[ProcedureLog] ADD  DEFAULT (NULL) FOR [PLARGS]
GO
ALTER TABLE [dbo].[Procedures] ADD  DEFAULT ((0)) FOR [PISDELETED]
GO
ALTER TABLE [dbo].[Schools] ADD  DEFAULT (NULL) FOR [SLOGOPATH]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (NULL) FOR [UCIPHER]
GO
ALTER TABLE [dbo].[UsersRolesMapping] ADD  DEFAULT ((1)) FOR [RID]
GO
ALTER TABLE [dbo].[UsersSchoolsMapping] ADD  DEFAULT ((1)) FOR [SID]
GO
ALTER TABLE [dbo].[Elkovetok]  WITH CHECK ADD FOREIGN KEY([ELARC])
REFERENCES [dbo].[Arcok] ([ARID])
GO
ALTER TABLE [dbo].[Elkovetok]  WITH CHECK ADD FOREIGN KEY([ELHAJ])
REFERENCES [dbo].[Hajszinek] ([HAID])
GO
ALTER TABLE [dbo].[Elkovetok]  WITH CHECK ADD FOREIGN KEY([ELJAR])
REFERENCES [dbo].[Jarasok] ([JAID])
GO
ALTER TABLE [dbo].[Elkovetok]  WITH CHECK ADD FOREIGN KEY([ELMAG])
REFERENCES [dbo].[Magassagok] ([MAID])
GO
ALTER TABLE [dbo].[Elkovetok]  WITH CHECK ADD FOREIGN KEY([ELSULY])
REFERENCES [dbo].[Sulyok] ([SUID])
GO
ALTER TABLE [dbo].[Elkovetok]  WITH CHECK ADD FOREIGN KEY([ELSZEM])
REFERENCES [dbo].[Szemszinek] ([SZEID])
GO
ALTER TABLE [dbo].[Elkovetok]  WITH CHECK ADD FOREIGN KEY([ELTERMET])
REFERENCES [dbo].[Termetek] ([TEID])
GO
ALTER TABLE [dbo].[Lopasok]  WITH CHECK ADD FOREIGN KEY([LBESZID])
REFERENCES [dbo].[Szemelyek] ([SZID])
GO
ALTER TABLE [dbo].[Lopasok]  WITH CHECK ADD FOREIGN KEY([LKOZTIP])
REFERENCES [dbo].[KozteruletTipusok] ([KID])
GO
ALTER TABLE [dbo].[Lopasok]  WITH CHECK ADD FOREIGN KEY([LMID])
REFERENCES [dbo].[Megyek] ([MID])
GO
ALTER TABLE [dbo].[Lopasok]  WITH CHECK ADD FOREIGN KEY([LUID])
REFERENCES [dbo].[Users] ([UID])
GO
ALTER TABLE [dbo].[Lopasok]  WITH CHECK ADD FOREIGN KEY([LVAROS])
REFERENCES [dbo].[Varosok] ([VID])
GO
ALTER TABLE [dbo].[ProcedureLog]  WITH CHECK ADD FOREIGN KEY([PID])
REFERENCES [dbo].[Procedures] ([PID])
GO
ALTER TABLE [dbo].[Szemelyek]  WITH CHECK ADD FOREIGN KEY([SZKOZTIP])
REFERENCES [dbo].[KozteruletTipusok] ([KID])
GO
ALTER TABLE [dbo].[Szemelyek]  WITH CHECK ADD FOREIGN KEY([SZSZULHELY])
REFERENCES [dbo].[Varosok] ([VID])
GO
ALTER TABLE [dbo].[Szemelyek]  WITH CHECK ADD FOREIGN KEY([SZVAROS])
REFERENCES [dbo].[Varosok] ([VID])
GO
ALTER TABLE [dbo].[Targyak]  WITH CHECK ADD FOREIGN KEY([LID])
REFERENCES [dbo].[Lopasok] ([LID])
GO
ALTER TABLE [dbo].[UsersRolesMapping]  WITH CHECK ADD FOREIGN KEY([RID])
REFERENCES [dbo].[Roles] ([RID])
GO
ALTER TABLE [dbo].[UsersRolesMapping]  WITH CHECK ADD FOREIGN KEY([UID])
REFERENCES [dbo].[Users] ([UID])
GO
ALTER TABLE [dbo].[UsersSchoolsMapping]  WITH CHECK ADD FOREIGN KEY([SID])
REFERENCES [dbo].[Schools] ([SID])
GO
ALTER TABLE [dbo].[UsersSchoolsMapping]  WITH CHECK ADD FOREIGN KEY([UID])
REFERENCES [dbo].[Users] ([UID])
GO
ALTER TABLE [dbo].[Varosok]  WITH CHECK ADD FOREIGN KEY([MID])
REFERENCES [dbo].[Megyek] ([MID])
GO
/****** Object:  StoredProcedure [dbo].[LogProcedureCall]    Script Date: 2022. 05. 03. 22:11:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[LogProcedureCall]
    @name nvarchar(50),
    @successCode int,
    @arguments nvarchar(max) = NULL
AS
BEGIN
    DECLARE @id int
	SET @id = (SELECT PID FROM Procedures WHERE PNAME = @name)

    BEGIN
        INSERT INTO ProcedureLog(PID, PLSUCCESSCODE, PLARGS)
        VALUES (@id, @successCode, @arguments)
    END
END
GO
/****** Object:  StoredProcedure [dbo].[RegisterUser]    Script Date: 2022. 05. 03. 22:11:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[RegisterUser]
    @email nvarchar(200),
    @code nvarchar(max),
    @successCode int OUTPUT
AS
SET NOCOUNT ON
BEGIN
    BEGIN TRY
        BEGIN TRANSACTION;

		DECLARE @uid int
        INSERT INTO Users(UEMAIL, UCODE) VALUES (@email, @code)
		SET @uid = SCOPE_IDENTITY()

		INSERT INTO UsersRolesMapping(UID) VALUES (@uid)
		INSERT INTO UsersSchoolsMapping(UID) VALUES (@uid)
		

        IF @@TRANCOUNT > 0
            COMMIT;
        SET @successCode = 0    -- successfully registered
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0
            ROLLBACK;
        IF (SELECT UEMAIL FROM Users WHERE UEMAIL = @email) IS NULL
            SET @successCode = 2   -- other error
        ELSE
            SET @successCode = 1    -- email already exists
    END CATCH;

	DECLARE @args nvarchar(max)
	SET @args = @email + ';' + @code

    EXEC LogProcedureCall 'RegisterUser', @successCode, @args
END
GO
/****** Object:  StoredProcedure [dbo].[SetUserCipher]    Script Date: 2022. 05. 03. 22:11:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SetUserCipher]
    @email nvarchar(200),
    @cipher nvarchar(200),
    @successCode int OUTPUT
AS
SET NOCOUNT ON
BEGIN
    BEGIN TRY
        BEGIN TRANSACTION;
        UPDATE Users SET UCIPHER = @cipher WHERE UEMAIL = @email

		IF @@ROWCOUNT = 0
		BEGIN
			ROLLBACK;
			SET @successCode = 1    -- email didn't found
		END
		ELSE
			IF @@TRANCOUNT > 0
			BEGIN
				COMMIT;
				SET @successCode = 0    -- successfully registered
			END
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0
            ROLLBACK;
        SET @successCode = 2   -- other error
    END CATCH;

	DECLARE @args nvarchar(max)
	SET @args = @email + ';' + @cipher
    EXEC LogProcedureCall 'SetUserCipher', @successCode, @args
END

GO
USE [master]
GO
