@{
    ViewBag.Title = "Home Page";
}

<div class="main" style="padding: 20px;">

    <h1 style="margin: 20px"> Üdvözöllek a Robocop rendészeti képzést támogató programban!</h1>

    <h4 style="color: white; margin: 20px;">Regisztrálj és próbáld ki, hogy hogyan működik a rendőrségi bejelentés és ügykezelés.</h4>

</div>